$white-ish: #edf2f8;
$orange: rgb(201, 35, 0);
$gray: #b5b5b5;
$black:#111111;

body {
  font-family: "Asul", "Chivo", sans-serif;
  margin: auto;
  max-width: 1440px;
  overflow-x: hidden;
  background: radial-gradient(
    59.93% 44.1% at -11.63% 36.77%,
    #343434 0%,
    #111111 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orange {
  color: $orange;
}

.gray {
  color: $gray;
}

@mixin clamping($min,$mid,$max){
  font-size: clamp($min,$mid,$max);
}

header {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 13vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    .burger {
      cursor: pointer;
      margin-right: 2em;
      @media (min-width: 996px) {
        display: none;
      }
      div {
        background-color: $orange;
        margin: .3em;
        transition: transform 500ms ease, opacity 500ms ease, width 500ms ease;
        &:nth-child(1) {
          width: 1.5em;
          height: .20em;
        }
        &:nth-child(2) {
          width: 1em;
          height: .20em;
        }

        &:nth-child(3) {
          width: .6em;
          height: .20em;
        }
      }
    }
    ul {
      margin-left: auto;
      display: none;
      @media (min-width: 992px) {
        display: block;
      }

      li {
        display: inline-block;
        padding: 0.5em 2em;
        font-size: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;

        &:last-of-type {
          border: 2px solid $orange;
          border-radius: 9999px;
          background-image: linear-gradient($orange, $orange);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 0% 100%;
          transition: background-size 0.3s;
          margin-right: 4em;
          &:hover {
            background-size: 100% 100%;
          }
        }

        &:not(:last-child) a:hover {
          color: $orange;
        }
        a {
          width: 100%;
          text-decoration: none;
          color: $white-ish;
          letter-spacing: 0.1em;
          transition: color 0.3s ease-out;
        }
      }
    }
  }
}

main {
  margin: 0 auto;
  background-color: black;
}

.btn {
  background-color: $orange;
  padding: 1em 0.7em;
  color: $white-ish;
  border-radius: 9999px;
  width: 10em;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Chivo";
  letter-spacing: 0.03em;
  margin: 1em 0;
  font-size: 0.8rem;
  &:hover {
    background-color: transparent;
  }
}

.hero {
  width: 100%;
 
  margin: 0 auto;
  min-height: 80vh;
  background: radial-gradient(
    59.93% 44.1% at -11.63% 36.77%,
    #343434 0%,
    #111111 100%
  );
  display: grid;
  align-items: center;
  justify-content: center;
  color: $white-ish;
  grid-template-columns: 1fr;

  @media (min-width: 556px) {
    grid-template-columns: 1fr 1fr;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #edf2f8;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transition: stroke 0.3s, transform 0.3s ease-in;
    &:hover {
      stroke: $orange !important;
      transform: translateY(-2px);
    }
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 4em;
    ul {
      list-style-type: none;
      li {
        display: inline-flex;
        width: 2em;
        img {
          width: 100%;
        }
      }
    }

    p {
      @include clamping(1rem, 3vw, 2.5rem );    
    }

    h1 {
      @include clamping(2rem, 5vw, 6rem);
      margin-bottom: 0.1em;
      letter-spacing: 0.03em;
      font-family: 'Chivo';
    }
  }

  &__right-col {
    position: relative;
    height: 100%;
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 -10px 10px -10px #000000;

    }
    img {
      position: absolute;
      width: 70%;
      right: 0;
      bottom: 0;
    }
  }
}

.about{
  width: 100%;
  padding: 5em 0;
  background-color: #111111;
  color: $white-ish;
  
  &__left-col{
    padding-left:2em ;
    h2{
      font-family: 'Chivo';
      @include clamping(2rem, 5vw, 6rem);
      margin-bottom: .5em;
    }
  }

  &__right-col{
    padding: 0 2em;
  }
}

.work{
  width: 100%;
  padding: 5em 0;
  position: relative;
  
  h2{
    color: $white-ish;
    font-family: 'Chivo';
    padding-left: 1em;
    margin-bottom: 1em;
    @include clamping(2rem,5vw,6rem );
  }
  &__item{
    position: relative;
    width: 60%;
    height: 20em;
    margin-right: 2em;
    &:nth-child(2n){
      margin-top: 1em;
    }
    
    img{
      width: 50%;
      height: auto;
      position: relative;
      &::before{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
        background-color: $black;
      }
    }
    small{
      display: block;
      color: $gray;
    }
    h2{
      
     color: $white-ish;
    font-family: 'Asul';
    letter-spacing: .02em;
    padding-left: 0;
    margin-bottom: 1em;
    font-weight: normal;
    @include clamping(1.5rem,5vw,6rem );
    }
  }

  .carousel{
    padding-left: 2em;
  }
}
