body {
  font-family: "Asul", "Chivo", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$white-ish:#EDF2F8;
$orange:#FF441D;
$gray:#AAAAAA;


header {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
  min-height: 13vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-right: 4em;
  justify-content: flex-end;
  nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    ul {
      margin-left: auto;
      li {
        display: inline-block;
        padding: .5em 2em;
        font-size: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;
        &:last-of-type{
          border: 2px solid $orange;
          border-radius: 9999px;
          background-image: linear-gradient(to bottom, transparent 50%, $orange 50%);;
          &:hover{
            background-position: 0 -100%;
          }
        }
        a {
          width: 100%;
          text-decoration: none;
          color: $white-ish;
          letter-spacing: .1em;
        }
      }
    }
  }
}


main{
    margin: 0 auto;
    background-color: black;
}

.hero{
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(90.58deg, #21212B 7.37%, rgba(0, 0, 0, 0.88) 117.59%);}

