@import "button/button";
@import "colors/colors";
@import "./mixin/mixin";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/work";
@import "./components/contact";

body {
  font-family: "Asul", "Chivo", sans-serif;
  margin: auto;
  max-width: 1920px;
  overflow-x: hidden;
  background: radial-gradient(
    59.93% 44.1% at -11.63% 36.77%,
    #343434 0%,
    #111111 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




main {
  margin: 0 auto;
  background-color: black;
}

