@import "button/button";
@import "colors/colors";
@import "./mixin/mixin";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/work"

body {
  font-family: "Asul", "Chivo", sans-serif;
  margin: auto;
  max-width: 1920px;
  overflow-x: hidden;
  background: radial-gradient(
    59.93% 44.1% at -11.63% 36.77%,
    #343434 0%,
    #111111 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




main {
  margin: 0 auto;
  background-color: black;
}







.carousel{
  width:100%;
  height:50vh;
  @media(min-width:1212px){
    height: 70vh;
  }
 
}




.flickity-viewport{
  height: 100% !important;
}

.contact{
  width: 100%;
  padding: 5em 0 10em 0em;
  background: $black;
  color: $white-ish;
  display: grid;
  grid-template-columns: 1fr;
  @media(min-width:556px){
    grid-template-columns: 1fr 1fr;
  }

  
  &__left-col{ 
    margin-bottom: 2em;
    font-family: 'Asul';
    padding: 0em 2em;
    @media(max-width:556px){
      padding: 0;
    }
    h3{
      @include clamping(2rem, 5vw, 3rem);
      

      .orange{
        
        font-weight: bold;
       

      }
    }
  }

  &__right-col{
    display: flex;
    flex-direction: column;
    @media(max-width:556px){
      padding:0;
    }
    padding: 0em 2em;

    small{
      @include clamping(.9rem,3vw ,1.5rem );
      margin-bottom: .2em ;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #edf2f8;
      stroke-width: 7;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      transition: stroke 0.3s, transform 0.3s ease-in;
      &:hover {
        stroke: $orange !important;
        transform: translateY(-2px);
      }
    }

    ul {
      list-style-type: none;
      li {
        display: inline-flex;
        width: 3em;
        @media(min-width:556px){
          width: 4em;
          margin-bottom: 1.5em;
        }
        img {
          width: 100%;
        }
      }
    }

    a{
      @include clamping(1.5rem, 5vw, 2rem);
      position: relative;
      display: inline-block;
      color: $orange;
      overflow: hidden;
      background: linear-gradient(to right, $orange, $orange 50%, $white-ish 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none;
      font-family: 'Chivo';
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}

.flickity-prev-next-button{
  top: 8% !important;
  width: 27px !important;
  height: 27px !important;
  border-radius: 50% !important;
  transform: translateY(-50%);
  margin: 0 1em;

  @media(min-width:556px){
    margin:0 2em;
    width: 35px !important;;
    height: 35px !important;
  }
}

.flickity-button {
  position: absolute;
  background: transparent !important;
  border: 1px solid $gray !important;
  color: $gray !important;
}

.flickity-button-icon:focus-within, .flickity-button-icon:hover{
  color: $orange;
}

.block:hover .block-image{
  opacity: .5;

}

.block:hover::before{
  content: 'See project';
  position: absolute;
  width: 14%;
  height: 2%;
  top: 38%;
  color: #edf2f8;
  border: 1px solid #edf2f8;
  left: 0;
  z-index: 10;
  padding: 1em .6em;
  text-align: center;
  left: 41%;
}