@import "../colors/colors";
@import "../mixin/mixin";


.about {
    width: 100%;
    padding-top: 3em;
    background-color: $more-black;
    color: $white-ish;
    display: grid;
    @media(min-width:556px){
      background-color: $black;
    }
    @include grid(556px);
    &__left-col {
      padding: 0 2em;
      h2 {
        font-family: "Chivo";
        @include clamping(2.5rem, 5vw, 6rem);
        margin-bottom: 0.5em;
      }
      p{
        @include clamping(1.2rem, 3vw, 2rem);
      }

      .lead{
        margin-bottom: .5em;

      }

      .bold{
        font-family: "Chivo";
      }
    }
  
  
  }