@import "../colors/colors";
@import "../mixin/mixin";

.swiper-container{
  padding-bottom: 5em !important;
  width: 100%;
  .swiper-slide{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 69% ;
    height: 100%;
  }
}

.swiper-button-next, .swiper-button-prev{
  top:5% !important;
  margin: 0 1em;
  transition: color .3s ease;
  &:focus{
   outline-color: $gray;
  }        
  
  &:hover{
    color: $orange !important;
  }
  &::after{
    font-size: 2rem !important;
    @media(max-width:687px){
      font-size: 1rem !important;
    }
  }
  
}


.swiper-button-prev {
  color: $gray !important; 
}

.swiper-button-next {
  color: $gray !important; 
}





.block-image{
    transition: opacity .3s ease;
    width: 100%;
    height: auto;
}

.block{
 
  small,
      h3 {
        position:absolute;
        margin-top: 1.5em;
        top: 74%;
        padding-left: 2em;
  
        @media(min-width:1000px){
          margin-top:  0.8em;
        }
      }
}


.block:hover .block-image {
  opacity: 0.4;
}



.block:hover::before {
  content: "See project";
  position: absolute;
  
  color: #edf2f8;
  border: 1px solid #edf2f8;
  z-index: 10;
  padding: 1em 1.5em;
  text-align: center;
  align-items: center;
  left: 41%;
  font-family: "Chivo";
  font-size: 1.2rem;
  top:40%;
  left:40%;
  transform: translate(-50%,-50%);
  @media(max-width:556px){
 
    font-size: .8rem;
  }
}
